<article class="article">
    <div class="article__heading">
        <div class="image">
            <img 
                src="{{ site.baseurl }}/{{ page.image }}" 
                height="560" 
                width="560" 
                alt="{{ page.title }}" 
                loading="eager" 
            />
        </div>

        <p class="info">
            {% if page.author %}
                {{ page.author }},
            {% endif %}
    
            {{ page.date | date_to_string }}
        </p>

        <h1 class="title">
            {{ page.title }}
        </h1>
    </div>

    <div class="article__content">
        {{ content }}
    </div>
</article>