<div class="card">
    <div class="card__image">
        <img src="{{ post.image }}" height="300" width="300" alt="{{ post.title }}" loading="lazy">
    </div>

    <div class="card__text">
        <span class="date">
            {{ post.date | date_to_string }}
        </span>

        <h3 class="title">
            {{ post.title }}
        </h3>

        {% if post.description %}
            <p class="description">
                {{ post.description }}
            </p>
        {% endif %}

        <span class="link-text">
            Read More
            <img src="./assets/images/arrow-right.svg" loading="lazy"/>
        </span>

        <a class="link" href="{{ site.baseurl }}{{ post.url }}"></a>
    </div>
</div>