@import '../general/variables';

.card {
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    position: relative;

    @media(min-width: $medium) {
        padding: 20px;
    }

    &__image {
        text-align: center;

        img {
            object-fit: contain;
        }
    }

    &__text {
        .date,
        .title,
        .link-text {
            color: $text-primary;
            font-family: $primary;
            font-weight: 400;
        }

        .date {
            font-size: 12px;
            text-transform: uppercase;
        }

        .title {
            font-size: 20px;
            margin: 15px 0;
        }

        .description {
            color: $text-secondary;
            font-family: $secondary;
            font-size: 16px;
        }

        .link-text {
            display: flex;
            font-size: 12px;
            margin: 15px 0;
            text-transform: uppercase;

            img {
                margin-left: 8px;
                width: 20px;
            }
        }

        .link {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }

    &:hover, 
    &:focus,
    &:focus-within {
        background-color: $gray;
        transition: all 0.2s ease 0s;
    }
}