@import '../general/variables';

.header {
    border-bottom: 4px solid $gray;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    padding: 0 40px;

    &__title {
        font-family: $secondary;
        font-size: 16px;

        @media(min-width: $medium) {
            font-size: 18px;
        }
    }
}